.movie {
    position: relative;
    display: inline-block;
}

.hover-text {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    display: none;
    height: 100%;
    max-height: 100%;
    overflow: scroll;
}

.movie:hover .hover-text {
    display: block;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
