@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@900&display=swap');

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    background-color: #000;
}

div {
    background-color: #000;
}